# Team Psych is the best team

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
.DS_store
/app/assets/secretkeys.txt
/app/assets/secretkeys.rb
bio.txt