<h2> My patients: </h2>
<% if !@user.patients.empty? %>
	<ul>
		<% for user in @user.patients %>
			<li><h5>
			<%= link_to user.first_name, '/users/' + user.user_name %>
		</h5></li>
		<% end %>
	</ul>
<% else %>
<p>You have no patients at this time</p>
<% end %>
