
<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>
<section>
<div class="container clearfix">
	<div class="row clearfix">
		<div class="form-box clearfix">
			<div id="events-container" class="col s6">
        <ul>
          <% for event in @events %>
            <li>
              <p>
                <%= link_to event.created_at, '/users/' + @user.id.to_s + '/events/' + event.id.to_s %>
              </p>
            </li>
            <hr>
          <% end %>
          <button class="btn deep-purple lighten-2"><%= link_to 'New Event', '/users/' + current_user.user_name + '/events/new'%></button>
        </ul>
      </div>
		</div>
	</div>
</div>
</section>
