
<aside>
	<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "mountains") %>
</aside>
<section>
	<div class="container">
		<div class="row">
			<div class="form-box">
				<div id="events-container" class="col s6">
	        <ul>
	          <% for event in @events %>
	            <li>
	              <p>
	                <%= link_to event.created_at.strftime("%d %b. %Y"), '/users/' + @user.user_name + '/events/' + event.id.to_s %>
	              </p>
	            </li>
	            <hr>
	          <% end %>
	          <button class="btn" id="new-event-button"><%= link_to 'New Event', '/users/' + current_user.user_name + '/events/new'%></button>
	        </ul>
	      </div>
			</div>
		</div>
	</div>
</section>
