<aside>
<%= image_tag("http://i.imgur.com/aT2G7y7.jpg", class: "aside-image", alt: "booger") %>
</aside>
<section>
<div class="container">
	<div class="row">
		<div class="form-box">
			Hello, <%= @user.user_name %>
		</div>
	</div>
</div>
</section>