<!-- <div id="about-page">
  <h1>Within Reach</h1>
  <h3>Simplify Your Recovery</h3>
</div> -->
<div class="container" id="about-container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div id="app-bullets">
        <ul>
          <li>Easy - </li>
          <li>Accessible - </li>
          <li>Private</li>
        </ul>
      </div>
      <h2>We're here to help.</h2><hr>
      <p><em>Within Reach</em> makes the hard work of recovery easy, accessible and private.</p>
        <ul>
          <li>Users will reflect on episodes of binging and purging with our guided entries. Each entry walks a user through the core steps of dialectical behavior therapy including mindfulness, emotional regulation, and distress tolerance.</li><br>
          <li>Users can quickly and easily access the online and mobile app which makes it easy to practice DBT skills traditionally found in <a href="https://www.newharbinger.com/dialectical-behavior-therapy-skills-workbook-bulimia">The Dialectical Behavior Therapy Skills Workbook</a>.</li>
      <p>Keep your recovery private or share with a professional.</p>
          <li>Each user's entries are private and will not be shared with anyone without their permission.</li><br>
          <li>Users can give a therapist or doctor permission to read their entries by selecting a mental health professional from a list of professional members.</li><br>
          <li>Users are not and will never be required to share their private entries with anyone.</li>
      <p>Mental health professionals can help their patients in their recovery.</p>
          <li>Click on the professionals button on our homepage to join the list of professional members.</li><br>
          <li>Have your patients select you as their health care professional on their profile pages.</li><br>
          <li>Log on and see your patients progress.</li>
        </ul>
      <div id="pull-quote-div">
        <p><span id="pull-quote">"Dialectical behavior therapy works by helping people gain a very clear and detailed understanding of their problems and what they can do in step-by-step fashion to change them."</span></p>
        <div id="attribution-div">
          <span class="attribution">The Dialectical Behavior Therapy Skills Workbook</span><br>
          <span class="attribution">Ellen Astrachan-Fletcher, Ph.D.</span><br>
          <span class="attribution">&amp; Michael Maslar, Psy.D.</span>
        </div>
      </div>
      <h2>Dialectical Behavior Therapy</h2><hr>
        <p>In the United States, some 20 million women and 10 million men suffer from a clinically significant <a href="https://www.nationaleatingdisorders.org/get-facts-eating-disorders">eating disorder</a> at some time in their life, including anorexia nervosa, bulimia nervosa, binge eating disorder.</p>
        <ul>
          <li>Marsha Linehan, Ph.D. first developed dialectical behavior therapy, or DBT, in the early 1990s to treat people with severe depression. The therapy has become a centerpiece of treatment for eating disorder patients. While many are taught DBT skills by their therapists and at inpatient and outpatient treatment centers, for those who want to continue to practice on their own they are referred to the paper workbook <a href="https://www.newharbinger.com/dialectical-behavior-therapy-skills-workbook-bulimia">The Dialectical Behavior Therapy Skills Workbook</a>. This tool is an excellent resource for patients in recovery but can be cumbersome and out of reach when a patient really needs it.</li>
        </ul>
        <p>The goal of <em>Within Reach</em> is to break down this barrier and put the hard work of recovery in a patient's hand - within reach at all times.</p>
      <h2 class="clearfix">About the Team</h2><hr>
      <div id="the-team" class="row">
        <div class="left col s6">
          <h4>Nicolas Budig</h4>
          <%= image_tag("http://i.imgur.com/Vyh58Om.jpg", class: "team-image", alt: "Nicolas Budig") %>
          <p>Nick is a Bay Area-based web developer with a passion for all things tech.  When he's not working on his latest app he can be found playing video games.</p>
        </div>
        <div class="left col s6">
          <h4>Sam Darbonne</h4>
          <%= image_tag("http://i.imgur.com/5iiUiqA.png", class: "team-image", alt: "Sam Darbonne") %>
          <p>In 2004 Sam started experimenting with Flash ActionScript 2.0. The world would never be the same. Through his unique combination of insight, style, analytics, and brevity he has crafted app after app of inspiring code. Industry leaders pay close attention to what Sam is working on, as it is usually the next big breakthrough in web development technologies. He has crafted databases, styled sheets, and recursed functions. The future is the past and technology becomes magic when you are working with Sam Darbonne.</p>
        </div>
        <div class="left col s6">
          <h4>Misha LeClair</h4>
          <%= image_tag("http://i.imgur.com/hrtrNww.jpg?1", class: "team-image", alt: "Misha LeClair") %>
          <p>A web developer and graduate of General Assembly in San Francisco, Misha brings full-stack technical skills to the table combined with a comprehensive background in storytelling, research, leadership and a healthy sense of urgency. Misha has a passion for inspiring products. <em>Within Reach</em> is a personal mission for Misha, who is on her own path of recovery and DBT practice.</p>
        </div>
        <div class="left col s6">
          <h4>Laura Russell</h4>
          <%= image_tag("http://i.imgur.com/2sLvOLU.jpg", class: "team-image", alt: "Laura Russell") %>
          <p>Laura Russell is a full stack web developer and a recent WDI grad of General Assembly.  A fan of sharp design on the front end and clean code on the back end, Laura loves collaborating with a team of coders to create masterpieces.</p>
        </div>
      </div>
    </div>
  </div>
</div>
