<!-- <div id="about-page">
  <h1>Within Reach</h1>
  <h3>Simplify Your Recovery</h3>
</div> -->
<div class="container" id="about-container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div id="app-bullets">
        <ul>
          <li>Easy - </li>
          <li>Accessible - </li>
          <li>Private</li>
        </ul>
      </div>
      <h2>We're here to help.</h2><hr>
      <p><em>Within Reach</em> makes the hard work of recovery easy, accessible and private.</p>
        <ul>
          <li>Users will reflect on episodes of binging and purging with our guided entries. Each entry walks a user through the core steps of dialectical behavior therapy including mindfulness, emotional regulation, and distress tolerance.</li><br>
          <li>Users can quickly and easily access the online and mobile app which makes it easy to practice DBT skills traditionally found in the paper workbook <a href="https://www.newharbinger.com/dialectical-behavior-therapy-skills-workbook-bulimia">The Dialectical Behavior Therapy Skills Workbook</a>.</li>
      <p>Keep your recovery private or share with a professional.</p>
          <li>Each user's entries are private and will not be shared with anyone without their permission.</li><br>
          <li>Users can give a therapist or doctor permission to read their entries by selecting a mental health professional from a list of professional members.</li><br>
          <li>Users are not and will never be required to share their private entries with anyone.</li>
      <p>Mental health professionals can help their patients in their recovery.</p>
          <li>Click on the professionals button on our homepage to join the list of professional members.</li><br>
          <li>Have your patients select you as their health care professional on their profile pages.</li><br>
          <li>Log on and see your patients progress.</li>
        </ul>
      <div id="pull-quote-div">
        <p><span id="pull-quote">"Dialectical behavior therapy works by helping people gain a very clear and detailed understanding of their problems and what they can do in step-by-step fashion to change them."</span></p>
        <div id="attribution-div">
          <span class="attribution">The Dialectical Behavior Therapy Skills Workbook</span><br>
          <span class="attribution">Ellen Astrachan-Fletcher, Ph.D.</span><br>
          <span class="attribution">&amp; Michael Maslar, Psy.D.</span>
        </div>
      </div>
      <h2>Dialectical Behavior Therapy</h2><hr>
        <p>In the United States, some 20 million women and 10 million men suffer from a clinically significant <a href="https://www.nationaleatingdisorders.org/get-facts-eating-disorders">eating disorder</a> at some time in their life, including anorexia nervosa, bulimia nervosa, binge eating disorder.</p>
        <ul>
          <li>Marsha Linehan, Ph.D. first developed dialectical behavior therapy, or DBT, in the early 1990s to treat people with severe depression. The therapy has become a centerpiece of treatment for eating disorder patients. While many are taught DBT skills by their therapists and at inpatient and outpatient treatment centers, for those who want to continue to practice on their own they are referred to the paper workbook <a href="https://www.newharbinger.com/dialectical-behavior-therapy-skills-workbook-bulimia">The Dialectical Behavior Therapy Skills Workbook</a>. This tool is an excellent resource for patients in recovery but can be cumbersome and out or reach when a patient really needs it.</li>
        </ul>
        <p>The goal of <em>Within Reach</em> is to break down this barrier and put the hard work of recovery in a patient's hand - within reach at all times.</p>
      <h2 class="clearfix">About the Team</h2><hr>
      <div id="the-team" class="col s6">
        <div class="left">
          <h4>Nicolas Budig</h4>
          <img src="images/pic_mountain.jpg" alt="Nicolas Budig">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="right">
          <h4>Sam Darbonne</h4>
          <img src="san_darbonne.png" alt="Sam Darbonne">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="left">
          <h4>Misha LeClair</h4>
          <img src="misha_leclair.jpg" alt="Misha LeClair">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="right">
          <h4>Laura Russell</h4>
          <img src="pic_mountain.jpg" alt="Laura Russell">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </div>
  </div>
</div>
