/* @import "materialize"
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */

$primary-color: rgba(136, 118, 168, 0.95);
$secondary-color: rgba(220, 200, 250, 0.95);
$blue-color: rgba(132, 154, 187, 0.95);
$darker-primary: rgb(104, 58, 184);
$brown-gray-color: rgba(108, 108, 105, 0.95);
$transparent: rgba(0, 0, 0, 0);

@media (min-width: 600px) {

    aside {
        float: left;
        width: 24%;
        height: 93vh;
        background-image: url("http://imgur.com/a/itE8G");
    }

    body {
        font-family: 'Open Sans', sans-serif;
        background-image: url("http://imgur.com/a/itE8G");
        max-height: 100%;
    }

    nav a {
        color: white;
    }

    section {
        float: right;
        width: 75%;
        height: 93vh;
        background-color: $primary-color;
    }

    #navbar {
        background-color: #6c6c69;
    }

    .aside-image {
        height: 100%;
        width: 100vw;
    }

    .back_next_button {

    }
    .btn a {
        color: white;
    }

    .brand-logo {
        margin-left: 15px;
    }

    .centered {
        text-align: center;
    }


    .form-box {
        margin: 10vh auto;
        padding: 50px;
        background-color: white;
        border-radius: 0.1rem;
    }

    .hidden {
        display: none;
    }

    .last-nav {
        margin-right: 15px;
    }

    .number-selection {
        padding: 0 -5px;
        width: 1rem
    }

    .spaced-btn {
        margin: 0 0.5rem;
    }

    .tab {
        background-color: $transparent;
    }

    .tab .active {
        background-color: $primary-color;
    }

    .white-tainer {
        background-color: white;
    }
}

@media (max-width: 500px) {
  .section {
    section{
      float: right;
      width: 100%;
      height: 93vh;
      background-color: rgba(136, 118, 168, 0.95);
    }
  }
  aside {
    display: none !important;
  }
}




