@import "materialize";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import "materialize"
 *= require_tree .
 *= require_self
 *= require animate
 */

$primary-color: rgba(136,118,168, 0.95);
$secondary-color: rgba(196,178,228, 0.95);

.number-box {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  display: inline-block;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.number-box:hover {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  display: inline-block;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.number-box-reversed {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $secondary-color;
  color: $primary-color;
  display: inline-block;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none;   
}

.number-selection {
	padding: 0 -5px;
	width: 1rem
}

body {
	background-image: url("http://imgur.com/a/itE8G")
}

.aside-image {
	height: 100vh;
	width: 100vw;
}
.form-box {
	margin: 10vh auto;
	padding: 50px;
	background-color: white;
}

.white-tainer {
	background-color: white;
}

.centered {
	text-align: center
}

section {
  float: right;
  width: 63%;
  height: 100vh;
  background-color: rgba(136,118,168, 0.95)
}
aside {
  float: left;
  width: 30%;
  height: 100%;
  background-image: url("http://imgur.com/a/itE8G")
}

.hidden {
	display: none
}
