// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: rgba(136,118,168, 0.95);
$secondary-color: rgba(220, 200, 250, 0.95);
$darker-primary: rgb(104, 58, 184);
$blue-color: rgba(132,154,187, 0.95);
$brown-gray-color: rgba(108,108,105, 0.95);



#events-container-2{
  width: auto;
  display: inline-block;
}

#overflow-section {
  overflow-y: 93vh;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

#show-event-div {
  overflow-y: scroll;
  height: 330px;
  margin-bottom: 0;
}

textarea:focus {
	background-color: rgb(240, 240, 240);
	color: rgb(50, 50, 50);
	border: none
}

.number-box {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0.2rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
h4 {
	color: white;
	text-align: center;
}

.container {
	.form-box {
		margin: 5% auto;
		padding: 5%;
		background-color: white;
	}

	.new-event-button {
		color: white;
	}
	h3 {
		font-size: 2em;
	}

  .bold {
    color: black;
    font-weight: bolder;
  }
  p {
    font-size: 1.25em;
  }
}
.event-lists {
	a:link, a:visited {
		color: $brown-gray-color;
	}
}
ul {
	list-style-type: none;
}

h3, p {
	color: $brown-gray-color;
 }

#edit-event-button, #delete-event-button {
	background-color: $blue-color;
  color: white;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.number-box-reversed {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $secondary-color;
  color: $darker-primary;
  padding: 0.2rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox {

  text-align: center;
  height: 1.5rem;
  background-color: $primary-color;
  color: white;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox-active {

  text-align: center;
  height: 1.5rem;
  background-color: $secondary-color;
  color: $primary-color;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
