// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$primary-color: rgba(136,118,168, 0.95);
$secondary-color: rgba(196,178,228, 0.95);

.number-box {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary-color;
  color: $secondary-color;
  display: inline-block;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.number-box-reversed {
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $secondary-color;
  color: $primary-color;
  display: inline-block;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none;   
}