// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgba(136,118,168, 0.95);
$secondary-color: rgba(196,178,228, 0.95);
$blue-color: rgba(132,154,187, 0.95);

body {
	background-color: #8876a8;
	height: 100%;
	width: 100%;
}
ul {
 list-style-type: none;
 }
 
.form-box {
	margin: 100px auto;
	padding: 50px;
	background-color: white;
}

.white-tainer {
	background-color: white;
}

#new-event-button {
	background-color: $blue-color;
  color: white;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
