// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgba(136,118,168, 0.95);
$secondary-color: rgba(196,178,228, 0.95);
$blue-color: rgba(132,154,187, 0.95);
$brown-gray-color: rgba(108,108,105, 0.95);

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h4 {
	color: white;
	text-align: center;
}
nav.pagination {
	background-color: $brown-gray-color;
	text-align: center;
	max-height: 3em;
	max-width: inherit;
	position: relative;
	span{
		position: relative;
	  top: -25%;
	}
}

.container {
	.form-box {
		margin: 5% auto;
		padding: 5%;
		background-color: white;
	}
	.new-event-button {
		color: white;
	}
	h3 {
		font-size: 2em;
	}
  #events-container {
    width: auto;
		display: inline-block;
  }
}

.event-lists {
	a:link, a:visited {
		color: $brown-gray-color;
	}
}
ul {
	list-style-type: none;
}

h3, p {
	color: $brown-gray-color;
}

#new-event-button {
	background-color: $blue-color;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#prof-container{
	display: inline-block;
}
