// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 600px) {

}

#landing-box {
	
}

#landing-aside {
	height: 200px;
	width: 200px;
	background-image: "http://www.gratisography.com/pictures/277_1.jpg"
}